@import "./scss-variables.scss";

@each $space in $spacing {
    $sp: var(--spacing-#{$space});

    .base-padding-#{$space} {
        padding: $sp;
    }

    .base-pt-#{$space} {
        padding-top: $sp;
    }

    .base-pb-#{$space} {
        padding-bottom: $sp;
    }

    .base-pl-#{$space} {
        padding-left: $sp;
    }

    .base-pr-#{$space} {
        padding-right: $sp;
    }

    .base-margin-#{$space} {
        margin: $sp;
    }

    .base-mt-#{$space} {
        margin-top: $sp;
    }

    .base-mb-#{$space} {
        margin-bottom: $sp;
    }

    .base-ml-#{$space} {
        margin-left: $sp;
    }

    .base-mr-#{$space} {
        margin-right: $sp;
    }

    .base-negative-mt-#{$space} {
        margin-top: calc(#{$sp} * -1);
    }

    .base-negative-mb-#{$space} {
        margin-bottom: calc(#{$sp} * -1);
    }

    .base-negative-ml-#{$space} {
        margin-left: calc(#{$sp} * -1);
    }

    .base-negative-mr-#{$space} {
        margin-right: calc(#{$sp} * -1);
    }
}

$breakpoint-mobile-max: nth($breakpoint-xs, 2);

@media screen and (max-width: $breakpoint-mobile-max) {
    @each $space in $spacing {
        $sp: var(--spacing-#{$space});

        .base-mobile-mt-#{$space} {
            margin-top: $sp;
        }

        .base-mobile-mb-#{$space} {
            margin-bottom: $sp;
        }

        .base-mobile-ml-#{$space} {
            margin-left: $sp;
        }

        .base-mobile-mr-#{$space} {
            margin-right: $sp;
        }
    }
}

/* Flex utils */
.base-flex {
    display: flex;
}

.base-inline-flex {
    display: inline-flex;
}

@each $direction in $directions {
    .base-flex-direction-#{$direction} {
        flex-direction: #{$direction};
    }
}

@each $justify in $justifies {
    .base-flex-justify-#{$justify} {
        justify-content: #{$justify};
    }
}

@each $align in $alignItems {
    .base-flex-align-#{$align} {
        align-items: #{$align};
    }
}

@each $grow in $flexGrow {
    .base-flex-grow-#{$grow} {
        flex-grow: #{$grow};
    }
}

/* General */
div.base-full-width,
span.base-full-width,
button.base-full-width,
.base-full-width {
    display: flex;
    width: 100%;
    flex-grow: 1;
}

@media screen and (max-width: nth($breakpoint-xs, 2)) {
    .base-hide-for-mobile-block,
    .base-hide-for-mobile-flex {
        display: none;
    }

    .base-hide-for-desktop-block {
        display: block;
    }

    .base-hide-for-desktop-flex {
        display: flex;
    }
}

@media screen and (min-width: nth($breakpoint-xs, 2)) {
    .base-hide-for-mobile-block {
        display: block;
    }

    .base-hide-for-mobile-flex {
        display: flex;
    }

    .base-hide-for-desktop-block,
    .base-hide-for-desktop-flex {
        display: none;
    }
}
